<%= form_with(model: category, url: groups_url, scope: :category, class: 'text-black') do |f| %>
  <div class="modal-header">
    <h5 class="modal-title" id="exampleModalLabel">Add category</h5>
  </div>

  <div class="modal-body">
    <% if category.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(category.errors.count, 'error') %> prohibited this category from being saved:</h2>

        <ul>
          <% category.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class="form-group">
      <%= f.label :name, class: "form-label" %><br />
      <%= f.text_field :name, autofocus: true, class: "form-control", autocomplete: "name" %>
    </div>


    <div class="form-group">
      <div class="dropdown">
        <%= f.select :icon, [], {}, { class: "btn btn-secondary dropdown-toggle mt-3" } do %>
          <% icons.each do |category, icon| %>
            <option  value="<%= category %>"><%= category %></option>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>

  <div class="modal-footer justify-content-start">
    <% if category.persisted? %>
      <div class="float-right">
        <%= link_to 'Destroy', category, method: :delete, class: 'text_danger', data: { confirm: 'Are you sure?' } %>
      </div>
    <% end %>
    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
    <%= f.submit class: 'btn btn-primary float-left' %>
  </div>
<% end %>
