<article class="d-flex flex-column section">
  <nav class="navbar navbar-dak bg-primary">
    <div class="container-fluid text-center">
      <h2 class="navbar-brand mb-0 flex-grow-1 text-white fw-light">Most recent</h2>
    </div>
  </nav>

  <div class="container-fluid p-3 flex-grow-1">
    <% @groups.each do |group| %>
      <%= link_to group_transactions_url(group.id), class: 'group-card-link' do %>
        <div class="group-card d-flex gap-2 mb-3 p-1 bg-light">
            <i class="bi bi-<%= icons[group.icon] %> display-1 px-3 d-flex align-items-center"></i>
            <div class="d-flex flex-column flex-grow-1 justify-content-between pt-2">
              <h2 class="fs-5 fw-light text-gray"><%= group.name %></h2>
              <h2 class="fs-6 fw-light text-gray m-0"><%= group.created_at %></h2>
            </div>
              <div class="d-flex align-items-center gap-1">
                <% amount = group.total_amount %>
                <% if amount && amount > 0.0 %>
                  <span class="pt-2">total: <%= number_to_currency group.total_amount %></span>
                <% end %>
                <%= button_to group_path(group.id), method: :delete, class: "btn btn-danger-outline" do  %>
                  <i class="bi bi-trash fs-3 text-danger"></i>
                <% end %>
              </div>
        </div>
      <% end %>
    <% end %>
  </div>

  <div class="bg-secondary p-2 d-flex">
    <button type="button" class="btn btn-outline-light flex-grow-1" data-bs-toggle="modal" data-bs-target="#newCategoryModal">
      Add new category
    </button>
    <div class="modal fade" id="newCategoryModal" tabindex="-1" aria-labelledby="newCategoryModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <%= render partial: 'groups/add_category_form', locals: { category: Group.new } %>
        </div>
      </div>
    </div>
  </div>
</article>
