<!DOCTYPE html>
<html>
  <head>
    <title>RailsBudgetApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body>
    <div class="main">
      <%= render partial: 'shared/navbar' %>
      <% if notice %>
        <div class="alert alert-success position-absolute top-0 start-0"><%= notice %></div>
      <% elsif alert %>
        <div class="alert alert-danger position-absolute top-0 start-0"><%= alert %></div>
      <% end %>
      <%= yield %>
    </div>
  </body>
</html>
